body{
    text-align: center;
    font-family: Arial, serif;
    font-size: 22px;
    color: white;
}

.container{
    display: inline-block;
    width: 100%;
    /*border:1px solid red;*/
    text-align: center;
}

.element{
    display: table-cell;
    vertical-align: middle;
    border:1px solid black;
    height: 315px;
    background-size: cover;
    padding: 5px;
}

.elementAge{
    display: inline-block!important;
    width: 100%;
}

.element:hover .elementContent{
    display: inline-block!important;
}
.elementContent{
    text-shadow: 1px 1px 2px black;
    display: none;
}

.elementText{
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
}

.elementsRow{
    display: table;
    width: 100%;
}

.btn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
}

.btn:hover{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#elementsContainer{
    display: inline-block;
    width:100%;

}